//
// Awesome Foundation 6 Checkboxes and radios
// --------------------------------------------------

$afc-font-family: "FontAwesome" !default;
$afc-var-check:   "\f00c" !default;
$afc-margin:      rem-calc(16)!default;
